@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*............................ANIMATION FADE IN MENU.................*/
@keyframes fadein {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*..........................LOADER..........................*/

@keyframes fadeout {
  99% {
    z-index: 5;
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -100;
  }
}

@keyframes loader-1 {
  0% {
    transform: scale(0.12);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0.7;
    z-index: -101;
  }
}

@keyframes loader-2 {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }
  60% {
    transform: scale(0.7);
    opacity: 0.6;
  }
  100% {
    transform: scale(0.1);
    opacity: 0;
    z-index: -102;
  }
}

.loader-background {
  background: $darkgrey;
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: fadeout 2.3s both;
}

.loader {
  height: 150px;
  width: 150px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  animation: fadeout 2.3s both;
  @include flexcenter;
}
.loader span {
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;
}
.loader span::before,
.loader span::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  height: 150px;
  width: 150px;
  border: 8px solid $first-col;
  border-radius: 50%;
  animation: loader-1 2.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.loader span::after {
  border: 8px solid $second-col;
  animation: loader-2 2.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

/*
.loader {
  @include flexcenter;
  animation: rotate 1.6s linear both;
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  opacity: 1;

  &__circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $first-col;
    transform: scale(0.7);
    animation: grow 1.6s;
    margin: 1rem;
  }
  &__circle:nth-child(2) {
    background: $second-col;
    transform: scale(0.7);
    animation-delay: 0.6s;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-1turn);
  }

  50% {
    transform: rotate(-0.5turn);
    opacity: 1;
  }

  99% {
    opacity: 1;
    z-index: 6;
  }
  100% {
    transform: rotate(0turn);
    opacity: 0;
    z-index: -101;
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}*/
