@use '../abstracts/' as *;

.image-box {
  &__image {
    object-fit: cover;
    height: rem(250);
    width: 100%;
  }
}

.menu-section {
  background: $grey;
  max-width: 1280px;
  margin: -3rem auto 0 auto;
  border-top-left-radius: rem(40);
  border-top-right-radius: rem(40);
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
  @include query(1001px) {
    padding-right: 2rem;
  }

  &__flex {
    @include query(1001px) {
      width: 30%;
      margin: 1rem;
    }
  }

  &__container {
    width: 90%;
    margin: 0 auto;
    @include query(768px) {
      width: 80%;
    }
    @include query(1001px) {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__heading-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0rem;
    @include query(1001px) {
      width: 100%;
    }
  }

  &__heading {
    font-size: 1.8rem;
  }

  &__heart {
    font-size: 1.6rem;
    cursor: pointer;
  }

  &__title {
    color: $lightgrey;
    font-size: $font-norm;
    font-weight: 500;
    padding-bottom: 1rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 3.2rem;
      height: 0.25rem;
      background: $third-col;
      left: 0;
      bottom: 0;
    }
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 2rem auto 0 auto;
  @include query(1001px) {
    margin-right: 1rem;
  }
}

.menu-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
  margin-bottom: 2rem;
  @include boxshadow;
  border-radius: 1.5rem;
  line-height: 1.6rem;
  cursor: pointer;
  animation: fadein 800ms backwards cubic-bezier(0.69, 1.4, 0.23, 0.86);
  overflow: hidden;
  &:hover &__check-icon {
    transform: rotate(0);
  }
  &:hover &__check {
    margin-right: 0;
  }
  &__fadein1 {
    animation-delay: 0.2s;
  }
  &__fadein2 {
    animation-delay: 0.3s;
  }
  &__fadein3 {
    animation-delay: 0.4s;
  }
  &__fadein4 {
    animation-delay: 0.5s;
  }
  &__fadein5 {
    animation-delay: 0.6s;
  }
  &__fadein6 {
    animation-delay: 0.7s;
  }
  &__fadein7 {
    animation-delay: 0.8s;
  }
  &__fadein8 {
    animation-delay: 0.9s;
  }
  &__fadein9 {
    animation-delay: 1s;
  }
  &__fadein10 {
    animation-delay: 1.1s;
  }
  &__infos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__heading {
    font-size: 1.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__subheading {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__price {
    margin-top: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-self: flex-end;
  }

  &__choice {
    display: flex;
  }

  &__check {
    background: $third-col;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    margin-left: 1rem;
    margin-right: -6rem;
    transition: 0.5s;
  }

  &__check-icon {
    color: white;
    font-size: 2rem;
    padding: 1.65rem;
    transform: rotate(320deg);
    transition: 0.5s;
  }
}
