@use '../abstracts/' as *;


.footer {
  background: #353535;
  padding: 2rem 1rem 1rem 2rem;
  &__logo {
    font-family: "Shrikhand", cursive;
    color: white;
    font-size: $font-norm;
    padding-bottom: 1rem;
  }
  &__list{
  color: white;}
  &__option {
    padding: 0.5rem 0;
    cursor: pointer;
    &--bold {
      font-weight: bold;
    }
  }
  &__icon1 {
    padding-right: 1rem;
  }
  &__icon2 {
    padding-right: 0.5rem;
  }
}
