@use '../abstracts/' as *;

.container {
  background: $grey;
  &__div-button {
    @include flexcenter;
  }
  /*............BOUTON EXPLORER.............*/
  &__button {
    background: linear-gradient(to bottom right, $second-col, 50%, $first-col);
    @include boxshadow;
    color: white;
    padding: rem(20) rem(25);
    border-radius: rem(35);
    border: transparent;
    margin-bottom: rem(56);
    font-size: 1.1rem;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    &--menu {
      padding: 1.25rem 4rem;
    }
    &:hover {
      &::after {
        opacity: 1;
        transform: scale(1.01);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      border-radius: rem(35);
      transition: 250ms ease-in-out 30ms;
      box-shadow: (0 rem(8) rem(8) #d1cbcb);
      background: linear-gradient(
        to bottom right,
        scale-color($second-col, $lightness: 10%),
        65%,
        scale-color($first-col, $lightness: 10%)
      );
    }
  }
}

.card {
  background: white;
  /*......................COEUR........................*/
  &__btn {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      & .card__bg {
        opacity: 1;
        transform: scale(1);
      }
      & .card__like {
        opacity: 0;
      }
    }
  }
  &__like {
    transition: 700ms ease-out;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(310deg, $second-col, 60%, $first-col);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: -1;
    transform: scale(0.1);
    transition: 600ms ease-in-out 30ms;
  }
}
