@use '../abstracts/' as *;

.form-main {
  @include flexcenter;
  box-shadow: inset 0px 10px 10px -10px rgb(175, 175, 175);
  text-align: center;
  background: $darkgrey;

  &__input {
    padding: rem(20) 1rem;
    border: 0;
    box-shadow: inset 0px 10px 10px -10px rgb(175, 175, 175);
    font-size: 1rem;
    font-weight: 500;
    background: $darkgrey;
  }
}
