@use '../abstracts/' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;;
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Shrikhand', cursive;
    padding: 0;
    margin: 0;
}

h2, h3 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol {
    padding: 0;
    margin: 0;
}