@use '../abstracts/' as *;

.container {
  @include flexcenter(column);
  background: $grey;

  &__heading {
    font-size: $font-norm;
    padding: rem(42) rem(80) rem(22) rem(80);
    text-align: center;
  }

  &__subheading {
    font-size: 1.1rem;
    padding: 0 rem(31) rem(33) rem(31);
    text-align: center;
    color: $lightgrey;
  }
}

.mid-section {
  &__heading {
    padding: 1rem;
    margin: rem(50) 1rem 0.7rem 1rem;
  }
}

.list {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  counter-reset: section;
  list-style-type: none;
  &__element {
    @include flexcenter;
    width: 100%;
    padding: rem(33) rem(33);
    margin: 1rem auto;
    background: $grey;
    text-align: center;
    border-radius: rem(20);
    @include boxshadow;
    cursor: pointer;
    position: relative;
    &:last-child {
      background: #f5edff;
      margin-bottom: 3rem;
    }
    &:hover {
      background: linear-gradient(to bottom right, $pink, 70%, $purple);
      transition-duration: 1000ms;
      transition-delay: 1s;
    }
    &::before {
      counter-increment: section;
      content: counter(section);
      @include flexcenter;
      border-radius: 100%;
      background: $purple;
      width: 1.5rem;
      height: 1.5rem;
      color: white;
      position: absolute;
      left: -0.7rem;
    }
  }
  &__text {
    margin: 0 2rem;
  }
  &__icon {
    font-size: $font-norm;
    &--purple {
      color: $purple;
    }
  }
}

.bottom-section {
  background: $grey;
  &__heading {
    padding: rem(60) 1rem 1rem 1rem;
    margin: rem(50) 1rem 0.7rem 1rem;
  }
  &__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    &:last-child {
      padding-bottom: 5rem;
    }
  }
}

.card {
  width: 90%;
  margin: 1rem auto;
  position: relative;
  border-radius: 1.5rem;
  background: white;
  @include boxshadow;
  &__img {
    width: 100%;
    height: rem(175);
    object-fit: cover;
    border-radius: 1.5rem;
  }
  &__badge {
    position: absolute;
    top: rem(18);
    right: rem(12);
    background: #99e2d0;
    color: #189677;
    padding: rem(8) rem(15);
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__infos {
    padding: 1rem;
    font-size: $font-norm;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &__btn {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 1rem;
    position: relative;
    z-index: 1;
    &:hover {
      & .card__bg {
        opacity: 1;
      }
      & .card__like {
        opacity: 0;
      }
    }
  }
  &__like {
    transition: 900ms;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(0deg, $pink, 40%, $purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    z-index: -1;
    transition: 900ms;
  }
}
