@use '../abstracts/' as *;

.top-section {
   @include flexcenter(column);
    background: $grey;

    &__heading {
        font-size: 1.2rem;
        padding: rem(42) rem(80) rem(22) rem(80);
    }

    &__content {
        font-size: 1.1rem;
        padding: 0 rem(31) rem(33) rem(31);
        font-weight: 400;
        text-align: center;
        color: #646060;
    }
}

.mid-section {
    &__heading {
        padding: 1rem;
        margin: 1rem;
    }
}

.list {
    @include flexcenter(column);
    &__element {
        width: 90%;
        padding: rem(33) rem(69);
        margin: 1rem auto;
        background: $grey;
        text-align: center;
        border-radius: rem(20);
        box-shadow: 0 rem(10) rem(10) #eaeaea;
        cursor: pointer;
        
        &--third {
            background: #F5EDFF;
        }
    }
}

