@use '../abstracts/' as *;

.loader-background {
  background: $darkgrey;
  opacity: 0.6;
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: fadeout 2s both;
}

.loader {
  height: 150px;
  width: 150px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  animation: fadeout 2s both;
  @include flexcenter;
}
.loader span {
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;
}
.loader span::before,
.loader span::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  height: 150px;
  width: 150px;
  border: 8px solid $first-col;
  border-radius: 50%;
  animation: loader-1 2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.loader span::after {
  border: 8px solid $second-col;
  animation: loader-2 2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

/*.loader {
  @include flexcenter;
  animation: rotate 1.6s linear both;
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  opacity: 1;

  &__circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $first-col;
    transform: scale(0.7);
    animation: grow 1.6s;
    margin: 1rem;
  }
  &__circle:nth-child(2) {
    background: $second-col;
    transform: scale(0.7);
    animation-delay: 0.6s;
  }
}*/

.container {
  @include flexcenter(column);
  background: $grey;

  &__heading {
    font-size: $font-norm;
    padding: rem(42) rem(80) rem(22) rem(80);
    text-align: center;
  }

  &__subheading {
    font-size: 1.1rem;
    padding: 0 rem(31) rem(33) rem(31);
    text-align: center;
    color: $lightgrey;
  }
}

.mid-section {
  &__heading {
    padding: 1rem;
    margin: rem(50) 1rem 0.7rem 1rem;
  }
}

.list {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  counter-reset: section;
  list-style-type: none;
  @media (min-width: 1001px) {
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  }
  &:last-child {
    margin-bottom: 3rem;
  }
  &__element {
    @include flexcenter;
    @include boxshadow;
    width: 100%;
    padding: rem(33) rem(33);
    margin: 1rem auto;
    background: $grey;
    text-align: center;
    border-radius: rem(20);
    cursor: pointer;
    position: relative;
    transition: 300ms;
    @media (min-width: 1001px) {
      width: 31%;
    }

    &:hover {
      background: #f5edff;
      transform: scale(1.02);
      @include boxshadow(#dddcdc);
    }
    &:hover > .list__icon {
      color: $first-col;
      transform: scale(1.02);
    }
    &::before {
      counter-increment: section;
      content: counter(section);
      @include flexcenter;
      border-radius: 100%;
      background: $first-col;
      width: 1.5rem;
      height: 1.5rem;
      color: white;
      position: absolute;
      left: -0.7rem;
    }
  }
  &__text {
    margin: 0 2rem;
  }
  &__icon {
    font-size: $font-norm;
    transition: 300ms;
  }
}

.bottom-section {
  background: $grey;
  &__heading {
    padding: rem(60) 1rem 1rem 1rem;
    margin: rem(50) 1rem 0.7rem 1rem;
  }
  &__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    &:last-child {
      padding-bottom: 5rem;
    }
    @media (min-width: 1001px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.card {
  width: 90%;
  margin: 1rem auto;
  position: relative;
  border-radius: 1.5rem;
  background: white;
  @include boxshadow;
  cursor: pointer;
  transition: 300ms;
  @media (min-width: 1001px) {
    width: 45%;
  }
  &:hover {
    transform: scale(1.02);
    @include boxshadow(#dddcdc);
  }
  &__img {
    width: 100%;
    height: rem(175);
    object-fit: cover;
    border-radius: 1.5rem;
  }
  &__badge {
    position: absolute;
    top: rem(18);
    right: rem(12);
    background: $third-col;
    color: #189677;
    padding: rem(8) rem(15);
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__infos {
    padding: 1rem;
    font-size: $font-norm;
    flex-grow: 1;
  }
  &__title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
