@use '../abstracts/' as *;

.top-section {
  @include flexcenter(column);
  background: $grey;

  &__heading {
    font-size: $font-norm;
    padding: rem(42) rem(80) rem(22) rem(80);
  }

  &__content {
    font-size: 1.1rem;
    padding: 0 rem(31) rem(33) rem(31);
    text-align: center;
    color: #646060;
  }
}

.mid-section {
  &__heading {
    padding: 1rem;
    margin: rem(50) 1rem 0.7rem 1rem;
  }
}

.list {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  counter-reset: section;
  list-style-type: none;
  &__element {
    @include flexcenter;
    width: 100%;
    padding: rem(33) rem(69);
    margin: 1rem auto;
    background: $grey;
    text-align: center;
    border-radius: rem(20);
    box-shadow: 0 rem(10) rem(10) $darkgrey;
    cursor: pointer;
    position: relative;
    &:last-child {
      background: #f5edff;
      margin-bottom: 3rem;
    }
    &:hover {
        background: linear-gradient(to bottom right, $pink, 70%, $purple);
        transition-duration: 1000ms;
        transition-delay: 1s;
    }
    &::before {
      counter-increment: section;
      content: counter(section);
      @include flexcenter;
      border-radius: 100%;
      background: $purple;
      width: 1.5rem;
      height: 1.5rem;
      color: white;
      position: absolute;
      left: -1rem;
    }
  }
  &__text {
      margin: 0 2rem;
  }
  &__icon {
      font-size: $font-norm;

      &--purple {
          color: $purple;
      }
  }
}

.bottom-section {
    background: $grey;
  &__heading {
    padding: rem(60) 1rem 1rem 1rem;
    margin: rem(50) 1rem 0.7rem 1rem;
    }
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    &:last-child {
      padding-bottom: 5rem;
    }
}

.card {
    width: 90%;
    margin: 1rem auto;
    position: relative;
    border-radius: 1.5rem;
    background: white;
    box-shadow: 0 rem(10) rem(10) $darkgrey;
    &__img {
        width: 100%;
        height: rem(175);
        object-fit: cover;
        border-radius: 1.5rem;
    }
    &__badge {
        position: absolute;
        top: rem(18);
        right: rem(12);
        background: #99E2D0;
        color: #189677;
        padding: rem(8) rem(15);
    }
    &__infos {
        padding: 1rem;
        font-size: $font-norm;
    }
    &__title {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    &__btn
    {
        position: absolute;
        bottom: rem(18);
        right: rem(12);
        font-size: 1.5rem;
    }
}